<style>
  h1  {
  color:rgb(0, 255, 51);    
  }   
  *{
 border:solid;

  }
  .header{
background-color: rgb(255, 247, 137);
display:flex;
justify-content: space-between;

  }
.grid{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
  .item{
display: flex;
  }
  p.h2{
    text-align: center;
    
    
      }
 .footer{
display: flex;
justify-content: end;

 }

 </style>